{% extends 'store/base.html' %}
{% load static %}

{% block title %}
MedicalStore :: Register
{% endblock title %}

{% block content %}
<style>
    section.login__section{
        height: 100vh;
    }

    section.login_body{
        margin-top:100px;
    }

    div.login_card{
        padding-bottom: 50px;
    }

    div.login_card p.h3{
        margin-bottom: 30px !important;
    }

    div.login_card div.d-flex{
        justify-content: center;
        margin-right: 10px !important;
    }

    div.d-flex a.link{
        font-weight: 600 !important;
        margin-right: 20px !important;
    }
</style>
    <section class="login__section">
        {% include "store/_header.html" %}

        <section class="login_body">
            <div class="container">
                <div class="login_card card">
                    <p class="h3">
                        Login
                    </p>
                    
                    <div class="d-flex">
                        <a href="{% url "store:login-admin" %}" class="link btn btn-primary">
                            <i class="fas fa-hospital"></i>
                            As Admin
                        </a>

                        <a href="{% url "store:login-customer" %}" class="link btn btn-success">
                            <i class="fas fa-people-carry"></i>
                            As Customer
                        </a>
                    </div>
                </div>
            </div>
            </main>

        </section>

        <script src="assets/js/mdb.min.js"></script>
        <script src=""></script>
{% endblock content %}