{% extends 'store/base.html' %}
{% load static %}

{% block title %}
MedicalStore :: Update Medicine
{% endblock title %}

{% block content %}
    <section id="dashboard_section" class="dashboard_section">

        <!-- Dashboard Sidebar -->
        {% include "store/_dashboard-admin.html" %}

        <div class="container-fluid">
            <div class="add_dealer">
                <div class="medicine__card card">
                    <p class="h2">
                        Update Medicine
                    </p>

                    <div class="add__dealer__form">
                        <div class="container">
                            <form class="row g-3 needs-validation" method="POST">
                            {% csrf_token %}

                                <div class="col-md-6">
                                    <label for="validationCustomMedCode" class="form-label">
                                        Med Code:
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        {{ form.med_code }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustomMedName" class="form-label">
                                        Med Name:
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        {{ form.med_name }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="validationCustomDealerName" class="form-label">
                                        Dealer Name:
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        {{ form.dealer_name }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="validationCustomPrice" class="form-label">
                                        Price:
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        {{ form.price }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="validationCustomStock" class="form-label">
                                        Stock:
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        {{ form.stock }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="validationAddress" class="form-label">
                                            Description:
                                        </label>
                                        {{ form.description }}
                                    </div>
                                </div>

                                <div class="col-12 pt-3">
                                    <div class="col-12 pb-3">
                                        <button class="btn btn-block login-button" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}